*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth; /* Aplicando rolagem suave */
}

/*section 1*/
.typewriter1 h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter2{
  display: none;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

#home{
  background-image: url("../img/img001.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#home p{
  font-size: x-large;
}

#home h1{
  font-size: xx-large;
}

#home #block1{
  margin-top: 20%;
  margin-left: 20%;
  position: relative;
}

#scroll{
  background-image: url("../img/scrolldown.svg");
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*Sction 2*/
#about-me{
  display: flex;
  flex-direction:row;
  height: 100vh;
  width: 100%;
}

.me{
  background-color: brown;
  width: 20%;
}
.about{
  background-color: rgb(37, 37, 37);
  width: 80%;
}

/*Menubar*/
.menubar {
  top: 0;
  height:40px;
  width: 100%;
  padding: 10px;
  position: fixed;
  text-align: center;
  background-color: #0000004b;
  color: white;
  backdrop-filter: blur(12.0px);
}

.menubar a{
  color: white;
  text-decoration:none;
  margin-right: 15px;
}

menu a:visited{
  color: white;
}

/*Screen adjusts*/
@media only screen and (orientation: portrait){

  #home p{
    font-size: large;
  }
  
  #home h1{
    font-size: x-large;
  }

  #home #block1{
    margin-top: 40%;
    margin-left: 20px;
  }

  #scroll{
    right: 20px;
  }
  
}