*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth; /* Aplicando rolagem suave */
}

/*section 1*/
.typewriter1 h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter2{
  display: none;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

#home{
  background-image: url("../img/img001.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#home p{
  font-size: x-large;
}

#home h1{
  font-size: xx-large;
}

#home #block1{
  margin-top: 20%;
  margin-left: 20%;
  position: relative;
}

#scroll{
  background-image: url("../img/scrolldown.svg");
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*Sction 2*/
#about-me{
  background-image: url("../img/img002.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction:row;
  height: 100vh;
  width: 100%;
}

.me{
  background-color: rgba(255, 255, 255, 0.2);
  width: 70%;
  margin:0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileIMG{
  background-image: url("../img/eu.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 100%;
  width: 128px;
  height: 128px;
  margin-top: 100px;
  margin-left: 50px;
}

.profileData{
  display:inline-block; /* ou float:left, vai do seu uso */
  color:dodgerblue;
  background-color:white;
  border-bottom:10px solid white;
  border-left:12px solid transparent;
  background-clip: padding-box;
  padding: 10px 10px 10px 10px;
  height: 120px;
  width: 280px;
  margin-top: 40px;
  margin-left: 10px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#msg{
  display: flex;
}

#info{
  background-color: white;
  width: 50%;
  height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
}
.uniIMG{
  background-image: url("../img/logouff.jpg");
  width: 90px;
  height: 90px;
}
.skillIMG{
  background-image: url("../img/skills.png");
  width: 80px;
  height: 72px;
}
.uniIMG, .skillIMG{
  background-repeat: no-repeat;
  background-size:cover;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.uniData{
  color:dodgerblue;
  margin-top: 15px;
  margin-left: 5px;
  width: 80%;
}

/*Menubar*/
.menubar {
  top: 0;
  height:40px;
  width: 100%;
  padding: 10px;
  position: fixed;
  text-align: center;
  background-color: #0000004b;
  color: white;
  backdrop-filter: blur(12.0px);
}

.menubar a{
  color: white;
  text-decoration:none;
  margin-right: 15px;
}

menu a:visited{
  color: white;
}

/*Screen adjusts*/
@media only screen and (orientation: portrait){

  #home p{
    font-size: large;
  }
  
  #home h1{
    font-size: x-large;
  }

  #home #block1{
    margin-top: 40%;
    margin-left: 20px;
  }

  #scroll{
    right: 20px;
  }

  .me{
    width: 100%;
    border-radius: 0;
  }

  .profileIMG{
    width: 80px;
    height: 80px;
    margin-top: 50px;
    margin-left: 5px;
  }

  .profileData{
    margin-top: 20px;
  }

  #info{
    width: 95%;
    margin-left: 5px;
  }

}
